@layer theme, base, mui, components, utilities;

@import 'tailwindcss';

@theme {
  --color-background: hsl(250 26% 19%);
  --color-background-dark: hsl(250, 26%, 13%);
  --color-foreground: hsl(0 0% 95%);
  --color-card: transparent;
  --color-card-foreground: hsl(0 0% 95%);
  --color-popover: hsl(0 0% 9%);
  --color-popover-foreground: hsl(0 0% 95%);
  --color-primary: hsl(181 39% 55%);
  --color-primary-foreground: hsl(0 0% 100%);
  --color-secondary: hsl(240 3.7% 15.9%);
  --color-secondary-foreground: hsl(0 0% 100%);
  --color-muted: hsl(0 0% 15%);
  --color-muted-foreground: hsl(240 5% 64.9%);
  --color-accent: hsl(12 6.5% 15.1%);
  --color-accent-foreground: hsl(0 0% 100%);
  --color-destructive: hsl(0 62.8% 30.6%);
  --color-destructive-foreground: hsl(0 85.7% 97.3%);
  --color-border: hsl(240 3.7% 15.9%);
  --color-input: hsl(240 3.7% 15.9%);
  --color-ring: hsl(102 59% 44%);
  --color-chart-1: hsl(220 70% 50%);
  --color-chart-2: hsl(160 60% 45%);
  --color-chart-3: hsl(30 80% 55%);
  --color-chart-4: hsl(280 65% 60%);
  --color-chart-5: hsl(340 75% 55%);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
